In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
df = pd.read_csv("housing_dataset - Sheet1.csv")
df.columns
X = df[['size','bedrooms','bathrooms','age','location']]
Y = df['price']

#splitting
X_train,X_test,Y_train,_Y_test = train_test_split(X,Y,test_size = 0.2,random_state = 42)
X_train

   size  bedrooms  bathrooms  age  location
5  2200         4          2    4     Urban
0  1200         2          1   10     Urban
7  2000         3          3    6  Suburban
2  1800         3          2    8     Urban
9  3000         5          4    1     Urban
4  1000         2          1   15     Rural
3  2400         4          3    2  Suburban
6  1600         3          2   12     Rural

In [8]:
X_test

   size  bedrooms  bathrooms  age  location
8  1400         2          1   20     Rural
1  1500         3          2    5  Suburban

In [10]:
X_train,X_val,Y_train,Y_val = train_test_split(X_train,Y_train,test_size = 0.25 , random_state = 42)

print(f"Trainig Data : {len(X_train)} samples")
print(f"Validation state : {len(X_val)} samples")
print(f"Test Data : {len(X_test)} samples")

Trainig Data : 6 samples
Validation state : 2 samples
Test Data : 2 samples

In [5]:
df = pd.read_csv("music_genre_dataset.csv")

df.columns
X = df.iloc[ : , :-1]
Y = df.iloc[: , -1]

#splitting
X_train,X_test,Y_train,_Y_test = train_test_split(X,Y,test_size = 0.2 , random_state = 42)
X_train

IndexingError: Too many indexers

In [13]:
X_train,X_val,Y_train,Y_val = train_test_split(X_train,Y_train,test_size = 0.25 , random_state = 42)

print(f"Trainig Data : {len(X_train)} samples")
print(f"Validation state : {len(X_val)} samples")
print(f"Test Data : {len(X_test)} samples")

Trainig Data : 60 samples
Validation state : 20 samples
Test Data : 20 samples