Multilinear_Regression_EDA
Description
Scenario: Predicting Used Car Prices
A used car dealership wants to predict the selling price of cars based on:
Engine Size (Liters) ‚öôÔ∏è
Mileage (thousand km driven) üõ£Ô∏è
Car Age (years) üìÖ
Horsepower üí®
They perform EDA to understand patterns and then build a Multiple Linear Regression model.Use the below dataset for your analysis

In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error,r2_score
from sklearn.linear_model  import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [4]:
data = {
"Engine_Size": [1.2,1.5,1.8,2.0,2.2,1.3,1.6,2.4,2.0,1.4,1.7,2.5,1.8,2.2,1.5],
"Mileage": [90,70,60,50,40,85,65,30,45,80,55,25,50,35,75],
"Age": [8,6,5,4,3,7,6,2,4,7,5,1,3,2,6],
"Horsepower": [80,95,110,130,150,85,100,180,140,90,115,200,125,160,105],
"Price": [3.5,5,6,8,10,4,5.5,14,9,4.5,6.5,16,8.5,12,5.2]
}

In [6]:
df = pd.DataFrame(data)
df.describe()

       Engine_Size    Mileage        Age  Horsepower      Price
count    15.000000  15.000000  15.000000   15.000000  15.000000
mean      1.806667  57.000000   4.600000  124.333333   7.846667
std       0.400832  20.248457   2.097618   35.700474   3.767695
min       1.200000  25.000000   1.000000   80.000000   3.500000
25%       1.500000  42.500000   3.000000   97.500000   5.100000
50%       1.800000  55.000000   5.000000  115.000000   6.500000
75%       2.100000  72.500000   6.000000  145.000000   9.500000
max       2.500000  90.000000   8.000000  200.000000  16.000000

In [7]:
print(df.corr())

             Engine_Size   Mileage       Age  Horsepower     Price
Engine_Size     1.000000 -0.983038 -0.965075    0.976180  0.960381
Mileage        -0.983038  1.000000  0.978761   -0.956492 -0.944610
Age            -0.965075  0.978761  1.000000   -0.957647 -0.955492
Horsepower      0.976180 -0.956492 -0.957647    1.000000  0.994078
Price           0.960381 -0.944610 -0.955492    0.994078  1.000000

In [ ]:
X = df[["Engine_Size", "Mileage", "Age", "Horsepower"]]
y = df["Price"]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

y_pred = model.predict(X_test)

print("MSE:", mean_squared_error(y_test, y_pred))
print("R2 Score:", r2_score(y_test, y_pred))